*{
    margin: 0;
    padding: 0;
}
.header{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: sticky;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#000000,#090909);
}
.header img{
    height: 250px;
    width: 250px;
    margin-top: 40px;
}
.nav-div{
    height: 60px;
    width: 800px;
    
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-div ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    height: 55px;
    width: 700px;
}
.nav-div a{
    background: linear-gradient(#40434E,#383B44);
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid transparent 2px;
    border-top: solid #40434E 2px;
    border-bottom: solid #383B44 2px;
    border-radius: 5px;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin: -14px;
}
.nav-div li a:hover{
    background: linear-gradient(0deg,#0496FF,#226DA7);
    border-top: solid #226DA7 2px;
    border-bottom: solid #0496FF 2px;
}
#home-nav{
    background: linear-gradient(0deg,#0496FF,#226DA7);
    border: solid transparent 2px;
    border-top: solid #226DA7 2px;
    border-bottom: solid #0496FF 2px;
    border-radius: 5px;
    transition: all 0.5 ease-out;
}

.slideback{
    position: relative;
    width: 100%;
    height: 720px;
    background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, hsl(148,0%,0%),hsl(148,0%,0%));
}
.slideshow{
    width: 67.2%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slides{
    display: flex;
    width: 100%;
    height: 720px;
    transform:translateX(-1280px) ;
}
#prevBtn{
    position: absolute;
    top: 50%;
    left: 3%;
    z-index: 10;
    background: linear-gradient(#161619,#0F0F10);
    border: solid 1px transparent;
    width: 40px;
    height: 40px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#nextBtn{
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 10;
    background: linear-gradient(#161619,#0F0F10);
    border: solid 1px transparent;
    width: 40px;
    height: 40px;
    padding-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.arrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
  }
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.deals-holder{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.deals{
    width: 550px;
    height: 180px;
    position: absolute;
    z-index: 10;
    margin-top: 70px;
    background-color: #B29052;
    background-image: linear-gradient(315deg, #B29052 0%, #DDCD9D 74%);
    box-shadow: 3px 3px 6px rgb(0, 0, 0),-3px -3px 6px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.deals a{
    border: solid blue 1px;
    text-decoration: none;
    color: black;
}
.deals a img{
    width: 550px;
    height: 180px;
}

.about-us{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1100px;
    background-color: #050505;
    opacity: 0.99;
    background-image:  repeating-linear-gradient(45deg, #000000 25%, transparent 25%, transparent 75%, #000000 75%, #000000), repeating-linear-gradient(45deg, #000000 25%, #050505 25%, #050505 75%, #000000 75%, #000000);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    border-radius: 5px;
    margin-bottom: 100px;
    width: 100%;
    height: 350px;
}
.about h1{
    color: white;
    margin-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.about p{
    color: white;
    font-size: 20px;
    margin: 30px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.judgements{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 200px;
}
.judgements div{
    width: 700px;
}
.judgements img{
    height: 300px;
    width: 400px;
    box-shadow: 10px 10px 5px black,-5px -5px 5px black;
    margin: 20px;
}
.why-we-do{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.why-we-do div{
    width: 700px;
}
.why-we-do img{
    height: 300px;
    width: 550px;
    box-shadow: 10px 10px 5px black,-5px -5px 5px black;
    margin: 20px;
}



.find-your-club{
    position: relative;
    width: 100%;
    height: 550px;
    background-image: linear-gradient(200deg, rgba(171, 171, 171,0.05) 0%, rgba(171, 171, 171,0.05) 23%,rgba(90, 90, 90,0.05) 23%, rgba(90, 90, 90,0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(232, 232, 232,0.05) 61%, rgba(232, 232, 232,0.05) 100%),linear-gradient(126deg, rgba(194, 194, 194,0.05) 0%, rgba(194, 194, 194,0.05) 11%,rgba(127, 127, 127,0.05) 11%, rgba(127, 127, 127,0.05) 33%,rgba(117, 117, 117,0.05) 33%, rgba(117, 117, 117,0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, hsl(148,0%,0%),hsl(148,0%,0%));
    display: flex;
    justify-content: center;
    align-items: center;
}
.find-your-club h1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.find-your-club p{
    color: white;
    font-size: 20px;
    margin: 30px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fyc-text{
    width: 650px;
}
.locations{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.locations ul{
    height: 350px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    list-style: none;
}
.locations li a{
    text-decoration: none;
    color: white;
    padding: 22px;
    border: solid transparent 0px;
    border-radius: 5px;
    background: linear-gradient(to right, #205C55 0%, #30675E 50%, #3F7267 100%);
}
.locations li a:hover{
    border: solid transparent 0px;
    border-radius: 5px;
    background: linear-gradient(to right, #10514C 0%, #1C5A53 50%, #205C55 100%);
}